@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.form {
    max-width: 420px;
    margin: 30px auto;
}

.feedback-input {
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid rgb(24, 24, 27);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    box-sizing: border-box;
    outline: 0;
}



.feedback-input:focus {
    border: 2px solid rgb(24, 24, 27);
}



[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 55%;
    background: rgb(24, 24, 27);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: var(--colorhover);
}